{name, "nprocreg"}.
{authors, ["Rusty Klophaus <rklophaus@gmail.com>"]}.
{description, "Process Registry used by Nitrogen"}.
{homepage, "https://github.com/nitrogen/nprocreg"}.
{rebar_compatible, true}.
{license, "MIT", "MIT-LICENSE"}.
{url, {git, "https://github.com/nitrogen/nprocreg.git", {branch, "master"}}}.
{applications, [nprocreg]}.
